@import "tailwindcss";

@theme {
  --color-primary: #1D4ED8;
  --color-secondary: #10B981;
  --color-accent: #F59E0B;
  --color-background: #F9FAFB;
  --color-textDark: #111827;
  --font-sans: "Manrope", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}